
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("./assets/images/image1.jpeg") no-repeat center center fixed;
  background-size: cover;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color:transparent;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



  h1 {
    font-size: 2.5em;
    color: #E4511B;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }


.fact {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 90%;
}

.fact p {
  font-size: 1.2em;
  color: #555;
}